*{box-sizing: border-box;}

body {
    text-align: center;
    font-size: 2vw;
    margin: auto;
    width: 40%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

h1 {
    margin-bottom: 2%;
}

img {
    height: 5%;
    width: 5%;
}

#useless {
    border-bottom: 1px solid lightgray;
    margin-top: 1%;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-top: 2%;
    padding-left: 0%;
}

li {
    margin: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid lightgray;
}

.checkbox {
    margin-right: 5%;
}

button {
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: rgb(255, 218, 223);
}

.remove {
    float: right;
    padding-left: 2%;
    padding-right: 2%;
}

#amount {
    margin-left: 2%;
    float: left;
}

#clearAll {
    margin-right: 2%;
    float: right;
}

textarea {
    resize: none;
}

#submit {
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    [class*="col-"] {
      width: 100%;
    }

    body {
        width: 90%;
        font-size: 3vw;
    }

    #submit {
        margin: auto;
        float: none;
    }

    textarea {
        float: none;
    }
}